[submodule "artifacts/jsonsubschema"]
	path = artifacts/jsonsubschema
	url = https://github.com/IBM/jsonsubschema.git
[submodule "artifacts/jsongenerator"]
	path = artifacts/jsongenerator
	url = https://github.com/jimblackler/jsongenerator.git
