attrs==24.2.0
exceptiongroup==1.2.2
greenery==3.3.7
hypothesis==6.127.5
hypothesis-jsonschema==0.23.1
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jsonsubschema==0.0.5
numpy==1.24.4
pandas==1.5.0
portion==2.6.0
python-dateutil==2.9.0.post0
pytz==2024.2
referencing==0.35.1
rpds-py==0.20.0
six==1.16.0
sortedcontainers==2.4.0